.coming-soon {
  height: 100vh;
  display: flex;
  flex-direction: column;
  padding-top: 58px;
}

.coming-soon__content {
  display: flex;
  height: 400px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--space-gutter);
  padding: var(--space-gutter) 24px;
}

.coming-soon__text {
  font-size: 14px;
  color: var(--color-on-surface-variant);
  margin: 0;
  text-align: center;
}
