.hero {
  display: flex;
  justify-content: center;
  background-color: var(--color-background);
}

.hero__image-wrapper {
  max-width: 1778px;
  width: 100%;
}

.hero__image-wrapper:hover {
  cursor: pointer;
}

.hero__image {
  width: 100%;
  height: auto;
  display: block;
  opacity: 0.9;
}
.hero__image:hover {
  opacity: 1;
}