.home {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.home__terminal {
  max-width: var(--space-container-max);
  width: 70%;
  min-width: 454px;
  margin: -40px auto 80px;
  padding: 0;
}

@media (max-width: 768px) {
  .home {
    padding-top: 48px;
  }

  .home__terminal {
    padding: 0 16px;
    width: 100%;
    min-width: unset;
  }
}
